<div class="lookbook-preview section-standard" data-section-id="{{ section.id }}" data-section-type="lookbook-preview-section">
  <div class="contain-full-width">
    <div class="wrapper">
      {% if section.settings.title != blank %}
        <header>
          <h4>{{ section.settings.title | escape }}</h4>
        </header>
      {% endif %}

      <div class="lookbook-container">
        {% for block in section.blocks %}
          <div class="lookbook__item {% if block.settings.full_width %}lookbook__item-full_width{% endif %} lookbook__item-{{ block.type }}">
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="lookbook__link">
            {% endif %}

            {% case block.type %}
              {% when 'icon_image' %}
                {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | img_url: '240x' }}"
                    srcset="{{ block.settings.image | img_url: '240x' }} 1x, {{ block.settings.image | img_url: '240x', scale: 2 }} 2x"
                    alt="{{ block.settings.image.alt }}" class="lookbook__icon-image">
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}

              {% when 'image' %}
                {% if block.settings.full_width %}
                  {%- assign image_size = '1500x' -%}
                {% else %}
                  {%- assign image_size = '1180x' -%}
                {% endif %}

                {% if block.settings.image != blank %}
                  {{ block.settings.image | img_url: image_size | img_tag: section.settings.image.alt, 'lookbook__image' }}
                {% else %}
                  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}

            {% endcase %}

            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      {% if section.settings.button_link != blank and section.settings.button_label != blank %}
      <footer>
          <a href="{{ section.settings.button_link }}" class="button large outline">{{ section.settings.button_label | escape }}</a>
      </footer>
      {% endif %}

    </div>
  </div>
</div>
{% schema %}
{
  "name": "Lookbook preview",
  "class": "lookbook-preview-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Lookbook Preview"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "icon_image",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full browser width",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured lookbook",
      "category": "Advanced layout",
      "settings": {
        "title": "",
        "button_label": "Browse the look",
        "button_link": "shopify://collections/all"
      },
      "blocks": [
        {
          "type": "icon_image"
        },
        {
          "type": "image",
          "settings": {
            "full_width": true
          }
        }
      ]
    }
  ]
}
{% endschema %}
